<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up Page</title>
    <link rel="stylesheet" href="css/login.css">
</head>
<body>
    <div class="container">
        <img src="https://play-lh.googleusercontent.com/gGXblbutViFQGrM1xdhOqoX05oyFzxkRo3WY4oXWEBU1Arsl_iLQ5TrBcPuTZ17AUds" alt="Girl in a jacket">
        <br>
        <br>
        <h2 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Ration Verification</h2>
        <br>
        <h1> Merchant Sign Up</h1>
        <form action="/merchant" method="post">
            <input placeholder="ID" name="name" type="text">
            <input placeholder="Password" name="password" type="password">
            <input class="sub" type="submit" value="signup">
        </form>
        <a href="/merchant_login">Go back to login page</a>
    </div>
</body>
</html>